{% extends 'bertapp/base.html' %}
{% block title %}登録{% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    Chat Room
                </div>
                <div class="card-body">
                    <ul id="messages" class="list-group">
                    </ul>
                <div class="card-footer">
                    <div class="input-group">
                        <input id="message_input" type="text" class="form-control" placeholder="Type a message">
                        <div class="input-group-append">
                            <button id="send_button" class="btn btn-primary">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function(){
        function getMessages(){
            $.get('/bertapp/get_messages', function(data){
                $('#messages').empty();
                for(var i=0; i<data.length; i++){
                    $('#messages').append('<li class="list-group-item">' + data[i] + '</li>');
                }
            });
        }

        function responseMessages(){
            $.get('/bertapp/response_messages', function(data){
                $('#messages').empty();
                for(var i=0; i<data.length; i++){
                    $('#messages').append('<li class="list-group-item">' + data[i] + '</li>');
                }
            });
        }

        $('#send_button').click(function(){
            var message = $('#message_input').val();
            $.post('/bertapp/send_message', {message: message}, function(data){
                if(data.status === 'Message received'){
                    $('#message_input').val('');
                    getMessages();
                }
            });
        });

        getMessages();
        responseMessages();
        setInterval(getMessages, 3000);
        setInterval(responseMessages, 3000);
    });
</script>
{% endblock %}