{% extends 'bertapp/base.html' %}
{% block title %}{% endblock %}
{% block content %}
<table class="table table-light table-striped">
    <tr>
        <td>お題</td>
        <td>質問の回答</td>
        <td>お題の答え</td>
        <td>お題のID</td>
    </tr>
    {% for user_answer in user_answers %}
    <tr>
        <td><a href="{{ url_for('bertapp.edit_answer', answer_id=user_answer.id, user_path=current_user.user_path) }}">{{ user_answer.theme }}</a></td>
        <td>{{ user_answer.q_answers }}</td>
        <td>{{ user_answer.answer }}</td>
        <td>{{ user_answer.answer_id }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}